# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=kziLL8Mzj3VKId6ODwptw2_-oBzaqhyY
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie
DB_CONNECTION=pg
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=AKis@089
DB_DATABASE=tarification_db
OPENAI_API_KEY=kziLL8Mzj3VKId6ODwptw2_-oBzaqhyY

# Mail otp configuration
MAIL_MAILER=smtp
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=abeltenda@gmail.com
SMTP_PASSWORD=mkac hbmm wzlq tywk
SMTP_ENCRYPTION=tls
MAIL_FROM_ADDRESS=abeltenda@gmail.com
MAIL_FROM_NAME="Banque Centrale du Congo"